.head {
  width: 550px;
}
.header {
  width: 550px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.todo-list {
  width: 550px;
  position: absolute;
  top: 220px;
  list-style: none;
  color: #ffffff;
  background: #25273d;
}
.color {
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 4px;
  font-weight: 750;
}
.icon {
  color: #ffffff;
  margin-top: 15px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #25273d;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 3px;
  height: 55px;
}
.todo-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font: 12px Arial, sans-serif;
  padding: 10px;
  color: #ffffff;
}
#addBtn {
  color: #f0f8ff;
  background: none;
  border: none;
  padding-right: 15px;
  font-size: 25px;
}
.checkbtn {
  font-size: 20px;
  color: #50526d;
}
#addBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.filter {
  margin-top: 5px;
  height: 55px;
  background: #25273d;
  display: flex;
  justify-content: space-evenly;
}
.filter > * {
  border: none;
  background: transparent;
  font: 12px Arial, sans-serif;
  color: #67687c;
}
.filter > button:hover {
  transform: scale(1.3);
  transition: 0.4s;
  cursor: pointer;
}
.filter output {
  padding-top: 17px;
  color: #67687c;
  font-size: 12px;
}

.task {
  height: 55px;
  background: #25273d;
  border-bottom: thin solid #393a4b;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
  font: 13px Arial, sans-serif;
}
.style2 {
  color: #67687c;
  text-decoration: line-through;
  font: 12px Arial, sans-serif;
  width: 100%;
  padding-left: 10px;
}
.style1 {
  width: 100%;
  padding-left: 10px;
  font: 12px Arial, sans-serif;
}
.deleteIcon {
  position: absolute;
  color: rgb(255, 0, 0);
  right: 15px;
  cursor: pointer;
  padding: 2px;
  display: block;
}
.active {
  color: #3921c2;
}
.hide {
  opacity: 0;
}
@media (max-width: 500px) {
  .head,
  .header,
  .todo-list {
    width: 300px;
  }
  .color {
    font-size: 30px;
  }
  .style2,
  .style1 {
    font-siz: 10px Arial, sans-serif;
  }
  .task {
    font-size: 10px;
  }
  .filter output {
    padding-top: 20px;
    font-size: 10px;
  }
  .filter > button:hover {
    transform: scale(1.1);
  }
  .icon {
    margin-top: 5px;
  }
}
