.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/src/images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #14141e;
  font-family: Arial, sans-serif;
}
.container {
  width: 100vw;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  color: white;
}
